.nav-desktop {
    grid-area: nav-desktop;
    background: rgb(26, 74, 60);
    /*background: #133F32;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.8rem 0;
    font-weight: 900;
}

.nav-desktop a {
    font-family: "Raleway", sans-serif;
    padding: 0.2rem 0.2rem;
    color: white;
}
.nav-desktop a:hover {
    color: #dedede;
}

/* dropdown menu */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    background: rgb(26, 74, 60);
    /*background: #133F32;*/
    z-index: 5;
    padding: 1rem 0;
}
.dropdown-content a {
    font-family: "Raleway", sans-serif;
    color: white;
    padding: 0.4rem;
    margin: 12px 0;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-desktop a {
    padding: 0 0.8rem;
}